@import "home";
@import "home1";
@import "home2";
@import "home3";
@import "home4";
@import "home5";
@import "home6";
@import "menu";
$theme: #2F83F5;
/**
 * 更改ionic默认样式
 */
.md .toolbar {
    min-height: 4.5rem;
}
.md ion-navbar {
    min-height: 4.5rem;
}
/**
 * 自定义样式
 */
[vertical-middle] {
    vertical-align: middle;
}
/**
 * 下一步按钮绝对定位
 */
.md .wf-next-button {
    width: 90%;
    position: absolute;
    right: 5%;
    bottom: 1rem;
}
.md .wf-next-button .button {
    font-size: 18px;
}
.md .wf-next-button .cancel-butto {
    font-size: 14px;
    color: #545454;
}
/**
 * 暂不设置影藏框
 */
.md .wf-next-button .hide-button {
    width: auto;
    height: 4.5rem;
}
//
//@media screen and (max-width: 720px) {
//  .md{
//    font-size: 16px;
//  }
//}
//@media screen and (max-width: 480px) {
//  .md{
//    $fontSize:14px;
//    font-size: 14px;
//  }
//}
//@media screen and (max-width: 360px) {
//  .md{
//    $fontSize:12px;
//    font-size: 1.2rem;
//  }
//}
//@media screen and (max-width: 320px) {
//  .md{
//    $fontSize:10px;
//    font-size: 1rem;
//  }
//}
