@import "home";
@import "home1";

.md .button-margin-auto{
    margin: 0.4rem auto;
}

.md .button-outline-margin-auto{
    margin: 0.4rem auto;
}

.md .button-width-90{
    width:90%;
}

.md .button-outline-width-90{
    width:90%;
}

.md .text-center{
  text-align: center;
}
/**
 * 下一步按钮绝对定位
 */
.md .wf-next-button{
  position: relative;
  top: 47.5rem;
}
.md .wf-cancel-button{
  position: relative;
  top: 48rem;
}

@media screen and (max-width: 720px) {
    .md{
      $fontSize:16px;
      font-size: 1.6rem;
    }
}
@media screen and (max-width: 480px) {
    .md{
      $fontSize:14px;
      font-size: 1.4rem;
    }
}
@media screen and (max-width: 360px) {
    .md{
      $fontSize:12px;
      font-size: 1.2rem;
    }
}
@media screen and (max-width: 320px) {
    .md{
      $fontSize:10px;
      font-size: 1rem;
    }
}
