.md .button-margin-auto{
    margin: 0.4rem auto;
}
.md .button-width-10{
    width:10%;
}
.md .button-width-20{
    width:20%;
}
.md .button-width-25{
    width:25%;
}
.md .button-width-33{
    width:33%;
}
.md .button-width-50{
    width:50%;
}
.md .button-width-67{
    width:67%;
}
.md .button-width-75{
    width:75%;
}
.md .button-width-80{
    width:80%;
}
.md .button-width-90{
    width:90%;
}
.md .button-width-100{
    width:100%;
}

.md .button-outline-margin-auto{
    margin: 0.4rem auto;
}
.md .button-outline-width-10{
    width:10%;
}
.md .button-outline-width-20{
    width:20%;
}
.md .button-outline-width-25{
    width:25%;
}
.md .button-outline-width-33{
    width:33%;
}
.md .button-outline-width-50{
    width:50%;
}
.md .button-outline-width-67{
    width:67%;
}
.md .button-outline-width-75{
    width:75%;
}
.md .button-outline-width-80{
    width:80%;
}
.md .button-outline-width-90{
    width:90%;
}
.md .button-outline-width-100{
    width:100%;
}

.md .button-outline-yc{
    border-color: #fff
}