.wf-wifi-admin{
  padding-top: 2.2rem;
}
.wf-wifi-admin .item {
    height: 5rem;
}
.wf-wifi-admin .item-input ion-label {
    color: #000;
}
// .wf-wifi-admin ion-list > .item:first-child {
//     border-top: 1px solid #f1f1f1;
// }
// .wf-wifi-admin ion-list .item-inner {
//     border-bottom: 1px solid #f1f1f1;
// }
// .wf-wifi-admin ion-list > .item:last-child {
//     border-bottom: 1px solid #f1f1f1;
// }
.wf-wifi-admin .password-show {
    width: 1.6rem;
}
