.wf-success .img {
    padding-left: 50%;
    right: 4.25rem;
    padding-top: 9.5rem;
    position: relative;
}
.wf-success .img img {
    width: 8.5rem;
}
.wf-success .text {
    border-bottom: 1px solid #ccc;
    margin: 0 1.8rem;
}
.wf-success .text span:first-child {
    color: #8A8A8A;
}
.wf-success .text span:last-child {
    color: #5A5A5A;
    font-size: 23px;
}
.wf-success .next-button {
    padding-top: 9.15rem;
    margin: 0 1.5rem;
}
.wf-success .manager p{
  margin-bottom: 0;
}
.wf-success .manager p:last-child{
  margin-top: 0;
}
.wf-success .manager span {
    display: inline-block;
    width: 50%;
}
.wf-success .manager p span:nth-child(even) {
    color: #4faaff;
    font-size: 20px;
}
.wf-success .manager p span:nth-child(odd) {
    text-align: right;
    padding-right: 16px;
    color: #8a8a8a;
}
