.wf-wait-content{
  background-color: #4690F6;
}
.wf-wait-img{
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -3.5rem;
}
.wf-wait-img img{
  width: 7rem;
}

.wf-wait-text{
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}
.wf-wait-text p{
  color: #fff;
  font-size: 15px;
}
