$theme: #2F83F5;
.wf-segment-button {
    padding: 1.5rem;
}
.wf-segment-button .ion-segment-button {
    border: 1px solid #CCC;
}
.wf-segment-button .segment-button.segment-activated {
    background-color: $theme;
    color: #FFF;
    font-size: 1.6rem;
    height: 3.7rem;
    line-height: 3.7rem;
}
.wf-segment-button .segment-button {
    font-size: 1.7rem;
    color: #a0a0a0;
}
.wf-segment-button .activated {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
.wf-autoIp p {
    text-align: center;
    font-size: 1.8rem;
    color: $theme;
    margin: 0 5.8rem;
    padding-top: 13rem;
}
.wf-autoIp .item,
.wf-manualIp .item,
.wf-pppoe .item {
    height: 5rem;
}
.wf-manualIp .item-input ion-label,
.wf-pppoe .item-input ion-label {
    color: #000;
}
.wf-manualIp ion-list > .item:first-child,
.wf-pppoe ion-list > .item:first-child {
    border-top: 1px solid #f1f1f1;
}
.wf-manualIp ion-list .item-inner,
.wf-pppoe ion-list .item-inner {
    border-bottom: 1px solid #f1f1f1;
}
.wf-manualIp ion-list > .item:last-child,
.wf-pppoe ion-list > .item:last-child {
    border-bottom: 1px solid #f1f1f1;
}

.wf-pppoe .password-show {
    width: 1.6rem;
}
.wf-autoIp .next-button {
    padding-top: 15.45rem;
    margin: 0 1.5rem;
}
.wf-pppoe .next-button {
    margin: 0 1.5rem;
    padding-top: 21.6rem;
}
.wf-manualIp .next-button {
    margin: 0 1.5rem;
    padding-top: 6.55rem;
}
.wf-pppoe .background-img {
    background: url("../static/img/home/guidance-eye.png") no-repeat;
    width: 39px;
    height: 22px;
    background-size: 2.2rem;
    background-position: 6px;
}
.wf-pppoe .background-img1 {
    background: url("../static/img/home/guidance-eye1.png") no-repeat;
    width: 39px;
    height: 22px;
    background-size: 2.2rem;
    background-position: 6px;
}
.wf-pppoe .eye-black {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0;
    top: 12.2rem;
}

.wf-pppoe ion-label[fixed],
.wf-manualIp ion-label[fixed],
.wf-pppoe ion-label[fixed] {
    flex: 0 0 70px;
    width: 70px;
    min-width: 70px;
}
